<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">

    <title>Mapping for the Awesome Masses</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="/home/shikongle/Desktop/Y/Apps/Maps/static/css/justified-narrow.css" rel="stylesheet">

    <link rel="shortcut icon" href="{{ url_for('static', filename='ico/favicon.ico') }}">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="https://github.com/pkafei">Github</a></li>
          <li><a href="https://twitter.com/pkafei">Twitter</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
        <h3 class="text-muted">Map for the Masses</h3>
      </div>

      <div class="jumbotron">
        <h1>Sometimes Where is Only the Beginning...</h1>
        <p class="lead">Please put the Map Here!</p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>There will be instruction are and interactive feature</h4>
          <p>Maybe you will see a button.</p>

        </div>

        <div class="col-lg-6">
          <h4>Background Information</h4>
          <p>This is where I will give some context.</p>

          <h4>Interesting Tidbits</h4>
          <p>Facts that make you want to spend more time with my map!</p>

        </div>
      </div>

      <div class="footer">
        <p>&copy; Pkafei 2013</p>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
